# Python related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pycach
*.egg-info/
dist/
build/
*.egg-info/
*.egg
.eggs/
*.manifest
*.whl
venv/

# Django related files
*.log
*.pot
*.po
*.mo
*.pyc
local_settings.py
db.sqlite3

# Test related files
.coverage
.cache/
pytest_cache/
.pytest_cache/
*.pytest_cache/
.tox/
htmlcov/
coverage.xml
# Django
/staticfiles

# Divio
.divio
/data.tar.gz
/data

# build/
static/
# Miscellaneous files
*.DS_Store
.idea/
*.bak
*.swp
*~
.vscode/